@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, #a1c4fd, #c2e9fb);
}

.carousel {
  width: 90%;
  max-width: 500px;
  height: auto;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.image-container {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

img {
  width: 100%;
  height: 400px;  
  object-fit: cover;
  border-radius: 12px;
  flex-shrink: 0;
}


.buttons-container {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: rgb(55, 152, 255);
  color: #fff;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  width: 49.5%;
  transition: 0.3s;
  font-weight: 600;
  font-size: 1rem;
}

.btn:hover {
  opacity: 0.9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.btn:focus {
  outline: none;
}

@media (max-width: 768px) {
  img {
    height: 300px;
  }
}

@media (max-width: 480px) {
  img {
    height: 240px;
  }
}

